#CountLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#ButtonContainer{
    text-align: center;

}
.Buttons{
    pading: 10px 20px;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    background-color: rgb(137, 43, 226);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 2s;
    
}